## BACKEND

# compiled output
backend/dist
backend/node_modules

# misc
backend/.env

# Logs
backend/logs
backend/*.log
backend/npm-debug.log*
backend/pnpm-debug.log*
backend/yarn-debug.log*
backend/yarn-error.log*
backend/lerna-debug.log*

# OS
backend/.DS_Store

# Tests
backend/coverage
backend/.nyc_output

# IDEs and editors
backend/.idea
backend/.project
backend/.classpath
backend/.c9/
backend/*.launch
backend/.settings/
backend/*.sublime-workspace

# IDE - VSCode
backend/.vscode/*
backend/!.vscode/settings.json
backend/!.vscode/tasks.json
backend/!.vscode/launch.json
backend/!.vscode/extensions.json


## FRONTEND
# dependencies
frontend/node_modules
frontend/.pnp
frontend/.pnp.js

# testing
frontend/coverage

# production
frontend/build

# misc
frontend/.DS_Store
frontend/.env
frontend/.env.development.local
frontend/.env.test.local
frontend/.env.production.local

frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*
